.hero {
    text-align: center;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: white;
}

.hero-title {
    font-size: 2.8rem;
    line-height: 1;
    font-weight: 700;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 3.75rem;
    }
}

@media (min-width: 1024px) {
    .hero-title {
        font-size: 4.375rem;
    }
}

.hero-text {
    margin-top: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

.hero-actions {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.button {
    padding: 1rem 2.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.primary {
    background-color: rgb(31 41 55);
    color: white;
}

.primary:hover {
    background-color: rgb(17 24 39);
}

.secondary {
    background-color: rgb(252 211 77);
    color: rgb(31 41 55);
}

.secondary:hover {
    background-color: rgb(251 191 36);
}
