.home-page-header {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #0F2027, #203A43, #2C5364);
}

.main-content {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}